= render partial: 'shared/admin_nav'

= nested_form_for @agent, html: { class: 'form' } do |f|
  = hidden_field_tag :from_section, 'team'

  .section
    .container
      .row
        .twelve.columns
          %h1.section-heading Team Page Content

      = f.fields_for :theme do |t|
        .row
          .twelve.columns
            = t.text_field :team_page_title, placeholder: 'Team Page Title', class: 'u-full-width'
        .row
          .twelve.columns
            = t.text_area :team_page_description, rows: 20, placeholder: "Team Page Copy...", class: 'u-full-width'


  = f.fields_for :team do |te|
    .section
      .container
        .row
          .twelve.columns
            %h1.section-heading Primary Agent
        .row
          .twelve.columns
            = text_field_tag 'full_name', @agent.full_name, class: 'u-full-width original-text-color', disabled: true

          .row
            .twelve.columns
              = te.check_box :primary_agent, class: 'checkbox'
              = te.label :primary_agent, 'Use the agent name listed above as the primary agent. (If unchecked, the first member listed below will be used.)', class: 'label small left'

      .section
        .container
          .row
            .twelve.columns
              %h1.section-heading Add Team Members
          = te.fields_for :team_members, @team_members do |tm|
            .row
              .twelve.columns
                = tm.text_field :full_name, placeholder: 'Team Member Name'
                = tm.link_to_remove class: 'primary-link icon-link' do
                  %i.fa.fa-trash-o.fa-2x
            .row
              .twelve.columns
                = tm.text_area :bio, rows: 20, placeholder: "Team Member Bio...", class: 'u-full-width'
            .row
              .twelve.columns
                = tm.phone_field :phone_number, placeholder: 'Team Member Phone...', class: 'u-full-width'
            .row
              .twelve.columns
                = tm.email_field :email, placeholder: 'Team Member Email...', class: 'u-full-width'
            .row
              .twelve.columns.file-upload-container
                %img.preview-image
                .file-fields
                  = tm.file_field :photo, class: 'file'
                  = tm.label :photo, 'Upload'
                  %p JPG, PNG, GIF

          .row
            .twelve.columns
              = te.link_to_add "+ Add Another Team Member", :team_members, class: 'add-field center', data: { associaton: 'team' }
      .section
        .container
          .row
            .twelve.columns
              %h1.section-heading Hiring Information
          .row
            .twelve.columns
              = te.check_box :hiring, class: 'checkbox js-hidden-form-toggle', data: { 'form-id': '#hiring-fields' }
              = te.label :hiring, 'Yes, we are currently hiring.', class: 'label small'
          #hiring-fields.hidden
            .row
              .twelve.columns
                = te.text_field :hiring_title, placeholder: 'Hiring Section Copy...', class: 'u-full-width'
            .row
              .twelve.columns
                = te.text_area :hiring_details, rows: 20, placeholder: "Hiring Page Copy...", class: 'u-full-width'
        .container
          #hiring-fields
            .row
              .twelve.columns
                %h1.section-heading Open Positions
            = te.fields_for :team_openings do |to|
              .row
                .twelve.columns
                  = to.text_field :position_title, placeholder: 'Position Title...'
                  = to.link_to_remove class: 'primary-link icon-link' do
                    %i.fa.fa-trash-o.fa-2x
              .row
                .twelve.columns
                  = to.text_area :position_description, rows: 20, placeholder:'Position Description...', class: 'u-full-width'
            .row
              .twelve.columns
                = te.link_to_add "+ Add Another Open Position", :team_openings, class: 'add-field'

  .section.shaded.submit-section
    .container
      .row
        .twelve.columns
          = f.submit 'Save Changes', class: 'button button-primary button-submit u-full-width'
