.section.bordered-bottom
  .container.medium-fixed
    .row
      .twelve.columns
        %h1.section-heading.text-centered= @theme.team_page_title
        %p= @theme.team_page_description

- @team_members.each do |team_member|
  .section.bordered-bottom
    .container.medium-fixed
      .row
        .twelve.columns.text-centered
          %h1.section-heading= team_member.full_name
          %img.avatar(src="https://placeholdit.imgix.net/~text?w=300&h=300")
          %p= team_member.bio
          %button.button.button-primary.u-full-width
            %i.fa.fa-phone-square
            = team_member.phone_number
          %button.button.button-primary.u-full-width
            %i.fa.fa-envelope
            = truncate(team_member.email, length: 20)
