= render partial: 'shared/admin_nav'

= form_for [@agent, @theme], html: { class: 'form' } do |f|
  .section.bordered-bottom
    .container
      .row
        .twelve.columns
          %h1.section-heading Website Title & Logo
      .row
        .twelve.columns
          = f.text_field :site_title, placeholder: 'Firstname Lastname', class: 'u-full-width'
      .row
        .twelve.columns
          = f.text_field :site_subtitle, placeholder: 'Real Estate', class: 'u-full-width'
      .row
        .twelve.columns
          = f.text_field :tagline, placeholder: 'Tagline', class: 'u-full-width'
      .row
        .twelve.columns
          = label_tag nil, '- or -', class: 'label'
      .row
        .twelve.column.file-upload-container
          .preview-image-section
            %img.preview-image
            %a.primary-link(href="#")
              %i.fa.fa-trash-o.fa-2x.reset

          .file-fields
            = f.file_field :logo, class: 'file'
            = f.label :logo, 'Upload Logo  '
            %p JPG, PNG, GIF

  .section
    .container
      .row(style="font-family: #{css_font_family_for_font_name(:helvetica)}")
        .twelve.columns
          %h1.section-heading Website Colors
      .row
        .twelve.columns.inline-section
          = f.label :background_color, 'Background', class: 'text-label'
          = f.text_field :background_color, class: 'u-full-width color-picker js-color-picker', data: { target: 'admin-background' }
      .row
        .twelve.columns.inline-section
          = f.label :font_color, 'Font Color', class: 'text-label'
          = f.text_field :font_color, class: 'u-full-width color-picker js-color-picker', data: { target: 'admin-font-color' }

      .row
        .twelve.columns.inline-section
          = f.label :button_color, 'Button Color', class: 'text-label'
          = f.text_field :button_color, class: 'u-full-width color-picker js-color-picker', data: { target: 'admin-button-color' }

      .row
        .twelve.columns.inline-section
          = f.label :button_text_color, 'Button Text', class: 'text-label'
          = f.text_field :button_text_color, class: 'u-full-width color-picker js-color-picker', data: { target: 'admin-button-text-color' }
      .row
        .twelve.columns.inline-section
          = f.label :font, 'Font', class: 'text-label'
          = f.select :font, Theme.font.options, {}, class: 'u-full-width font-select select js-font-changer', data: { target: 'admin-font' }

  .section.text-centered
    .container
      .row.bordered.padded.js-preview-update#admin-theme-preview
        .twelve.columns
          %h1 This is a text preview
          %button.button.button-primary.u-full-width(disabled="disabled") Button Preview
  .section.text-centered.centered
    .container
      .row
        .twelve.columns
          = link_to 'Restore Defaults', agent_theme_path(@agent, @theme), method: :delete, class: 'button button-reset-theme u-full-width'

  .section.shaded.submit-section
    .container
      .row
        .twelve.columns
          = f.submit 'Save Changes', class: 'button button-primary button-submit u-full-width'
