-# TODO Re-enable React when we are not trying to do a hackathon!
-# :javascript
-#   $(function() {
-#     React.render(React.createElement(LysteyAdmin, null), document.getElementById("admin"));
-#  });

= render partial: 'nav'

= nested_form_for @agent, html: { class: 'form' } do |f|
  .container
    .row
      .twelve.columns
        %h1.section-heading General Information

        .row
          .twelve.columns
            = f.text_field :first_name, class: 'u-full-width', placeholder: 'First Name'
        .row
          .twelve.columns
            = f.text_field :last_name, class: 'u-full-width', placeholder: 'Last Name'
        .row
          .twelve.columns
            = f.text_field :suffix, class: 'u-full-width', placeholder: 'Suffix'
        .row
          .twelve.columns
            = f.text_field :license_number, class: 'u-full-width', placeholder: 'License Number'
        .row
          .twelve.columns
            = f.select :license_type, options_for_select(Agent.license_type.options), { include_blank: '-- License Type --', default: nil }, { class: 'u-full-width select' }
        .row
          .twelve.columns
            = f.text_field :license_county, class: 'u-full-width', placeholder: 'License County'

        = f.fields_for :certifications do |c|
          .row
            .twelve.columns
              = c.select :certification_type, options_for_select(Certification.certification_type.options), { include_blank: '-- Certification Type --', default: nil }, { class: 'u-full-width select' }
        = f.link_to_add "+ Add Another Certification", :certifications, class: 'add-field'

        .row
          .twelve.columns
            = f.text_field :phone_number, class: 'u-full-width', placeholder: 'Phone Number'
        .row
          .twelve.columns
            = f.text_field :fax_number, class: 'u-full-width', placeholder: 'Fax Number'
        .row
          .twelve.columns
            = f.text_field :email, class: 'u-full-width', placeholder: 'Email'

        %h1.section-heading Office Address
        = f.fields_for @office_address do |oa|
          .row
            .twelve.columns
              = oa.text_field :line_1, class: 'u-full-width', placeholder: 'Address'
              = oa.text_field :line_2, class: 'u-full-width', placeholder: 'Address (Line 2)'
              = oa.text_field :city, class: 'u-full-width', placeholder: 'City'
              = oa.select :state, options_for_select(us_states), {}, { class: 'u-full-width select' }
              = oa.text_field :zipcode, class: 'u-full-width', placeholder: 'Zip'

        %h1.section-heading Mailing Address
        = f.fields_for @mailing_address do |ma|
          .row
            .twelve.columns
              = ma.text_field :line_1, class: 'u-full-width', placeholder: 'Address'
              = ma.text_field :line_2, class: 'u-full-width', placeholder: 'Address (Line 2)'
              = ma.text_field :city, class: 'u-full-width', placeholder: 'City'
              = ma.select :state, options_for_select(us_states), {}, { class: 'u-full-width select' }
              = ma.text_field :zipcode, class: 'u-full-width', placeholder: 'Zip'

  .section.shaded.submit-section
    .container
      .row
        .twelve.columns
          = f.submit 'Save Changes', class: 'button button-primary button-submit u-full-width'
