= render partial: 'shared/admin_nav'

= nested_form_for @agent, html: { class: 'form' } do |f|
  .container
    .row
      .twelve.columns
        %h1.section-heading General Information

        .row
          .twelve.columns
            = f.text_field :first_name, class: 'u-full-width', placeholder: 'First Name'
        .row
          .twelve.columns
            = f.text_field :last_name, class: 'u-full-width', placeholder: 'Last Name'
        .row
          .twelve.columns
            = f.text_field :suffix, class: 'u-full-width', placeholder: 'Suffix'
        .row
          .twelve.columns
            = f.text_field :license_number, class: 'u-full-width', placeholder: 'License Number'
        .row
          .twelve.columns
            = f.select :license_type, Agent.license_type.options, { include_blank: '-- License Type --', default: nil }, { class: 'u-full-width select' }
        .row
          .twelve.columns
            = f.text_field :license_county, class: 'u-full-width', placeholder: 'License County'

        = f.fields_for :certifications do |c|
          .row
            .twelve.columns
              = c.select :certification_type, Certification.certification_type.options, { include_blank: '-- Certification Type --', default: nil }, { class: 'u-full-width select' }
        = f.link_to_add "+ Add Another Certification", :certifications, class: 'add-field'

        .row
          .twelve.columns
            = f.phone_field :phone_number, class: 'u-full-width', placeholder: 'Phone Number'
        .row
          .twelve.columns
            = f.phone_field :fax_number, class: 'u-full-width', placeholder: 'Fax Number'
        .row
          .twelve.columns
            = f.email_field :email, class: 'u-full-width', placeholder: 'Email'

        = f.fields_for :addresses, [@office_address, @mailing_address] do |oa|
          = oa.hidden_field :address_type
          - if oa.object.address_type == :office
            %h1.section-heading Office Address
          - else
            %h1.section-heading.u-pull-left Mailing Address
            = oa.check_box :same_as_office, class: 'checkbox js-duplicate-form', data: { :'from-form' => 'office', :'form-duplicate' => 'form-mailing-address' }
            = oa.label :same_as_office, 'Same as Office', class: 'u-pull-right label right-label'
          .row(id="form-#{oa.object.address_type == :office ? 'office' : 'mailing'}-address")
            .twelve.columns
              = oa.text_field :line_1, class: 'u-full-width', placeholder: 'Address'
              = oa.text_field :line_2, class: 'u-full-width', placeholder: 'Address (Line 2)'
              = oa.text_field :line_3, class: 'u-full-width', placeholder: 'Address (Line 3)'
              = oa.text_field :city, class: 'u-full-width', placeholder: 'City'
              = oa.select :state, us_states, { include_blank: '-- Select State --' }, { class: 'u-full-width select' }
              = oa.text_field :zipcode, class: 'u-full-width', placeholder: 'Zip'

  .section.shaded.submit-section
    .container
      .row
        .twelve.columns
          = f.submit 'Save Changes', class: 'button button-primary button-submit u-full-width'
