.section.photo-section.shaded.shaded-dark
  .container.medium-fixed
    .row
      .twelve.columns.text-centered
        %img.avatar(src="https://placeholdit.imgix.net/~text?w=300&h=300")
.section.bordered-bottom
  .container.medium-fixed
    .row
      .twelve.columns.text-centered
        %h1.section-heading= @biography.title
        %p= @biography.long_bio
    .row
      .twelve.columns.text-centered
        %p= @biography.short_bio
.section.bordered-bottom
  .container.medium-fixed
    .row
      .twelve.columns.text-centered
        %h1.section-heading Designations & Certifications
    .row
      .twelve.columns
        %ul.collection-list
          - @agent.certifications.each do |certification|
            %li.collection-item
              %img(src="https://placeholdit.imgix.net/~text?w=100&h=100")
              %h1= certification.certification_type.upcase

.section
  .container.centered.medium-fixed
    .row
      .twelve.columns
        %h1.section-heading.text-centered= "Ready to work with #{@agent.first_name}?"
    .row
      = render 'shared/contact_agent_form'
