!!! 5
%html
  %head
    %title Lystey
    = stylesheet_link_tag 'application.css', media: 'all'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.9/slideout.min.js'
    = javascript_include_tag 'application'
    = javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry"
    = javascript_include_tag 'http://cdn.mlcalc.com/widget-api.js'
    = javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'
    = csrf_meta_tags
    %meta(name="viewport" content="initial-scale=1, width=device-width, user-scalable=no")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="format-detection" content="telephone=yes")
  %body
    %nav#menu

    %main#panel
      = render partial: 'shared/header'
      = yield

    - if @show_footer
      = render 'shared/footer'


    :javascript
      $(function() {
        var slideout = new Slideout({
          'panel': document.getElementById('panel'),
          'menu': document.getElementById('menu'),
          'padding': 256,
          'tolerance': 70
        });

        document.querySelector('.nav-menu-toggle').addEventListener('click', function() {
          slideout.toggle();
        });
      });
