!!! 5
%html
  %head
    %title Lystey
    = stylesheet_link_tag 'application.css', media: 'all'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.9/slideout.min.js'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #lystey-app
      = yield
